menu "Zephyr Kernel"
    source "Kconfig.zephyr"
endmenu

menu "Touchscreen Configuration"

    config LOGGING_SWIPES_ONLY
        bool "Don't show screens and only log swipes"
        default n
        help
            This is a way to test the touch capabilities of the screen without specific screen sipes or button presses.


    config LOG_GESTURES_ONLY
        bool "Don't show screens but log when a geeature is detected"
        default n
        help
            This is a way to test the touch capabilities of the screen without specific screen sipes or button presses.

endmenu